<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">基本資料與檢驗資料登錄</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i>基本資料
                    </div>
                    <div class="panel-body">
                        <div class="row" id="commentForm">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">收案日期：</span>
                                        </label>
                                        <input class="form-control" ng-model="form.BeginTime" style="font-size: large" placeholder="格式範例：20170101">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">個案班級：</span>
                                        </label>
                                        <input class="form-control" ng-model="form.Class_Name" style="font-size: large" placeholder="格式範例：A班則填入A即可">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">病患姓名：</span>
                                        </label>
                                        <input class="form-control" ng-model="form.Clinic_Name" style="font-size: large" placeholder="請輸入中文姓名">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">病歷編號：</span>
                                        </label>
                                        <input class="form-control" ng-model="form.Clinic_No" style="font-size: large" placeholder="請輸入病歷號碼" required>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">性別：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.Gender" ng-init="form.Gender = genders[0].value" style="font-size: large" ng-options="gender.value as gender.name for gender in genders">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">年齡：</span>
                                        </label>
                                        <input class="form-control" ng-model="form.Age" style="font-size: large" placeholder="請輸入實歲年齡">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">宗教信仰：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.Religion" ng-init="form.Religion = religions[0].value" style="font-size: large"
                                            ng-options="religion.value as religion.name for religion in religions">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">教育程度：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.Education" ng-init="form.Education = educations[0].value" style="font-size: large"
                                            ng-options="education.value as education.name for education in educations">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">婚姻狀況：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.MaritalStatus" ng-init="form.MaritalStatus = maritalStatus[0].value" style="font-size: large"
                                            ng-options="maritalStatu.value as maritalStatu.name for maritalStatu in maritalStatus">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">目前就業：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.JobStatus" ng-init="form.JobStatus = jobStatus[0].value" style="font-size: large"
                                            ng-options="jobStatu.value as jobStatu.name for jobStatu in jobStatus">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">居住狀況：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.ResidentSituation" ng-init="form.ResidentSituation = residentSituations[0].value"
                                            style="font-size: large" ng-options="residentSituation.value as residentSituation.name for residentSituation in residentSituations">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">吸菸習慣：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.SmokingHabits" ng-init="form.SmokingHabits = smokingHabits[0].value" style="font-size: large"
                                            ng-options="smokingHabit.value as smokingHabit.name for smokingHabit in smokingHabits">
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (基本資料) -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <span class="auto-style1">飲酒習慣：</span>
                                    </label>
                                    <select class="form-control" ng-model="form.DrinkHabits" ng-init="form.DrinkHabits = drinkHabits[0].value" style="font-size: large"
                                        ng-options="drinkHabit.value as drinkHabit.name for drinkHabit in drinkHabits">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <span class="auto-style1">運動習慣(一週至少3次，每次30分鐘)：</span>
                                    </label>
                                    <select class="form-control" ng-model="form.SportsHabits" ng-init="form.SportsHabits = sportsHabits[0].value" style="font-size: large"
                                        ng-options="sportsHabit.value as sportsHabit.name for sportsHabit in sportsHabits">
                                    </select>
                                </div>
                                <div style="font-size:2.5em">
                                    <h1>病史</h1>
                                </div>
                                <br>
                                <form role="form">
                                    <div class="form-group" ng-repeat="medicalHistory in MedicalHistory">
                                        <input type="checkbox" name="{{medicalHistory.name}}" value="{{medicalHistory.value}}" ng-model="medicalHistory.selected"> {{medicalHistory.name}}
                                        <!-- <label>
                                            <span class="auto-style1">是否有下列病史：</span>
                                        </label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高血壓〈130/80mmHg以上〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高血糖〈糖化血色素HbA1C>7%以上〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">低密度脂蛋白過高〈LDL>130mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高膽固醇〈總膽固醇CHOL>1820mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高三酸甘油脂〈TG>150mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高尿酸〈UA>8mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">無</span>
                                            </label>
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">是否接受過糖尿病教育：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.DiabetesEducation" ng-init="form.DiabetesEducation = diabetesEducations[0].value"
                                            style="font-size: large" ng-options="diabetesEducation.value as diabetesEducation.name for diabetesEducation in diabetesEducations">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">家裡是否有自備血糖機：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.Blood_GlucoseMachine" ng-init="form.Blood_GlucoseMachine = blood_GlucoseMachines[0].value"
                                            style="font-size: large" ng-options="blood_GlucoseMachine.value as blood_GlucoseMachine.name for blood_GlucoseMachine in blood_GlucoseMachines">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">平常用藥習慣：</span>
                                        </label>
                                        <select class="form-control" ng-model="form.MedicationHabits" ng-init="form.MedicationHabits = medicationHabits[0].value"
                                            style="font-size: large" ng-options="medicationHabit.value as medicationHabit.name for medicationHabit in medicationHabits">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">備註：</span>
                                        </label>
                                        <textarea class="form-control" ng-model="form.Remark" rows="3" style="font-size: large"></textarea>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (病史) -->
                            <div class="col-lg-12">
                                <div style="font-size:2em">
                                    <h1 class="fa fa-edit">檢驗資訊</h1>
                                </div>
                                <br>
                                <form role="form">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">檢驗日期：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Inspectionday" style="font-size: large" placeholder="格式範例：20170101">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">身高：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Height" type="text" style="font-size: large" placeholder="Cm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">體重：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Weight" type="text" style="font-size: large" placeholder="Kg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腰圍：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Waist" type="text" style="font-size: large" placeholder="Cm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">血壓(收縮壓)：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.SBP" type="text" style="font-size: large" placeholder="mmHg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">血壓(舒張壓)：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.DBP" type="text" style="font-size: large" placeholder="mmHg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">飯前血糖〈AC Sugar〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.ACSugar" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">糖化血色素〈HbA1C〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.HbA1C" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">尿素氮〈BUN〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.BUN" type="text" style="font-size: large" placeholder="mg/gm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">肌酸酐〈Creatinine〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Creatinine" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腎絲球過濾率〈eGFR〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.eGFR" type="text" style="font-size: large" placeholder="MDRD">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腎臟病期別：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="form.Stage" ng-init="form.Stage = Stage[0].value" style="font-size: large" ng-options="Stage.value as Stage.name for Stage in Stage">
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">總膽固醇〈TCH〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.TCH" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">三酸甘油脂〈TG〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.TG" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">低密度脂蛋白〈LDL〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.LDL" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">蛋白尿〈UACR〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.UACR" type="text" style="font-size: large" placeholder="mg/dl">
                                            <label>
                                                <span class="auto-style1">或U/R</span>
                                            </label>
                                            <input class="form-control" ng-model="form.UR" type="text" style="font-size: large" placeholder="價數">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (檢驗資料) -->
                            <!-- /.col-lg-6 (檢驗資料) -->

                            <div class="col-lg-12">
                                <form role="form">
                                    <br>
                                    <br>
                                    <button type="button" ng-click="submit()" class="btn btn-outline btn-primary btn-lg btn-block">填寫完成</button>
                                    <br>
                                    <button type="button" ng-click="clear()" class="btn btn-outline btn-primary btn-lg btn-block">重新填寫</button>
                                </form>
                            </div>
                            <!-- /.col-lg-12 (按鈕) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>