<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">基本資料與檢驗資料登錄</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i>基本資料
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">收案日期：</span>
                                        </label>
                                        <input class="form-control" style="font-size: large" placeholder="格式範例：20170101">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">個案班級：</span>
                                        </label>
                                        <input class="form-control" style="font-size: large" placeholder="格式範例：A班則填入A即可">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">姓名：</span>
                                        </label>
                                        <input class="form-control" style="font-size: large" placeholder="請輸入中文姓名">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">病歷編號：</span>
                                        </label>
                                        <input class="form-control" style="font-size: large" placeholder="請輸入病歷號碼">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">性別：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">年齡：</span>
                                        </label>
                                        <input class="form-control" style="font-size: large" placeholder="請輸入實歲年齡">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">宗教信仰：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>佛教</option>
                                            <option>回教</option>
                                            <option>基督教</option>
                                            <option>天主教</option>
                                            <option>道教或燒香、拜拜民間傳統信仰</option>
                                            <option>其它</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">教育程度：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>不識字</option>
                                            <option>小學</option>
                                            <option>國中</option>
                                            <option>高中職或專科</option>
                                            <option>大學</option>
                                            <option>研究所暨以上</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">婚姻狀況：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>未婚</option>
                                            <option>已婚</option>
                                            <option>離婚</option>
                                            <option>喪偶</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">目前就業：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>有</option>
                                            <option>無</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">居住狀況：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>獨居</option>
                                            <option>與親友同住</option>
                                            <option>機構</option>
                                            <option>其它</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">吸菸習慣：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>有</option>
                                            <option>無</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">飲酒習慣：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>有</option>
                                            <option>無</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">運動習慣(一週至少3次，每次30分鐘)：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>有</option>
                                            <option>無</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">備註：</span>
                                        </label>
                                        <textarea class="form-control" rows="3" style="font-size: large"></textarea>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (基本資料) -->
                            <div class="col-lg-6">
                                <h1>病史</h1>
                                <form role="form">
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">是否有下列病史：</span>
                                        </label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高血壓〈130/80mmHg以上〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高血糖〈糖化血色素HbA1C>7%以上〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">低密度脂蛋白過高〈LDL>130mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高膽固醇〈總膽固醇CHOL>1820mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高三酸甘油脂〈TG>150mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">高尿酸〈UA>8mg/dl〉</span>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="auto-style1">無</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">是否接受過糖尿病教育：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>是</option>
                                            <option>否</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">家裡是否有自備血糖機：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>是</option>
                                            <option>否</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span class="auto-style1">平常用藥習慣：</span>
                                        </label>
                                        <select class="form-control" style="font-size: large">
                                            <option>西醫〈診所或醫院〉處方用藥</option>
                                            <option>中醫〈診所或醫院〉</option>
                                            <option>傳統偏方草藥</option>
                                            <option>藥局買成藥〈例：止痛藥或感冒液〉</option>
                                            <option>第四台或電台廣告藥</option>
                                            <option>其它</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (病史) -->
                            <div class="col-lg-6">
                                <h1>檢驗資訊</h1>
                                <form role="form">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">身高：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="Cm">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">體重：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="Kg">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">腰圍：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="Cm">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">血壓：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mmHg">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">飯前血糖〈AC Sugar〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">糖化血色素〈HbA1C〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">尿素氮〈BUN〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/gm">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">肌酸酐〈Creatinine〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">腎絲球過濾率〈eGFR〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="MDRD">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">總膽固醇〈TCH〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">三酸甘油脂〈TG〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">低密度脂蛋白〈LDL〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">
                                            <span class="auto-style1">蛋白尿〈UACR〉：</span>
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="mg/dl">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (檢驗資料) -->

                            <div class="col-lg-12">
                                <form role="form">
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-outline btn-primary btn-lg btn-block">填寫完成</button>
                                    <br>
                                    <button type="reset" class="btn btn-outline btn-primary btn-lg btn-block">重新填寫</button>
                                </form>
                            </div>
                            <!-- /.col-lg-12 (按鈕) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>