<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">照護資料登錄</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i>照護資料
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">病歷編號：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="請輸入病歷號碼">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">姓名：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="請輸入中文姓名">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">個案班級：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" style="font-size: large" placeholder="格式範例：A班則填入A即可">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">主治醫師：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">衛教師：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">衛教日期：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="格式範例：20170101">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">衛教對象：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control" style="font-size: large">
                                                <option>本人</option>
                                                <option>家屬</option>
                                                <option>其它</option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">衛教方式：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control" style="font-size: large">
                                                <option>個別衛教</option>
                                                <option>電訪</option>
                                                <option>團體衛教</option>
                                                <option>其它</option>
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">藥物使用：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">住院日期：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="格式範例：20170101">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">住院原因：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">出院日期：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" style="font-size: large" placeholder="格式範例：20170101">
                                            <br>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (照護資料) -->

                            <div class="col-lg-12">
                                <form role="form">
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-outline btn-primary btn-lg btn-block">填寫完成</button>
                                    <br>
                                    <button type="reset" class="btn btn-outline btn-primary btn-lg btn-block">重新填寫</button>
                                </form>
                            </div>
                            <!-- /.col-lg-12 (按鈕) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>