<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">檢驗資料登錄</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-edit fa-fw"></i>檢驗資料
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">病歷編號：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Clinic_No" type="text" style="font-size: large" placeholder="請輸入病歷號碼">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">病患姓名：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Clinic_Name" type="text" style="font-size: large" placeholder="請輸入中文姓名">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">個案班級：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Class_Name" style="font-size: large" placeholder="格式範例：A班則填入A即可">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">檢驗日期：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Inspectionday" style="font-size: large" placeholder="格式範例：20170101">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">身高：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Height" type="text" style="font-size: large" placeholder="Cm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">體重：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Weight" type="text" style="font-size: large" placeholder="Kg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腰圍：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Waist" type="text" style="font-size: large" placeholder="Cm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">血壓(收縮壓)：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.SBP" type="text" style="font-size: large" placeholder="mmHg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">血壓(舒張壓)：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.DBP" type="text" style="font-size: large" placeholder="mmHg">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">飯前血糖〈AC Sugar〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.ACSugar" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">糖化血色素〈HbA1C〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.HbA1C" type="text" style="font-size: large">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">尿素氮〈BUN〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.BUN" type="text" style="font-size: large" placeholder="mg/gm">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">肌酸酐〈Creatinine〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.Creatinine" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腎絲球過濾率〈eGFR〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-change="delay(ChkStage_onChange, 1000)" ng-model="form.eGFR" type="text" style="font-size: large" placeholder="MDRD">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">腎臟病期別：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="form.Stage" ng-init="form.Stage = Stage[0].value" style="font-size: large" ng-options="Stage.value as Stage.name for Stage in Stage">
                                            </select>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">總膽固醇〈TCH〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.TCH" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">三酸甘油脂〈TG〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.TG" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">低密度脂蛋白〈LDL〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.LDL" type="text" style="font-size: large" placeholder="mg/dl">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            <span class="auto-style1">蛋白尿〈UACR〉：</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="form.UACR" type="text" style="font-size: large" placeholder="mg/dl">
                                            <label>
                                                <span class="auto-style1">或U/R</span>
                                            </label>
                                            <input class="form-control" ng-model="form.UR" type="text" style="font-size: large" placeholder="價數">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (檢驗資料) -->

                            <div class="col-lg-12">
                                <form role="form">
                                    <br>
                                    <br>
                                    <button type="submit" ng-click="submit()" class="btn btn-outline btn-primary btn-lg btn-block">填寫完成</button>
                                    <br>
                                    <button type="reset" ng-click="clear()" class="btn btn-outline btn-primary btn-lg btn-block">重新填寫</button>
                                </form>
                            </div>
                            <!-- /.col-lg-12 (按鈕) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>